#error-text {
    display: none;
}

html {
    height: 100%;
}

body {
    font-family: sans-serif;
    overflow-y: hidden;
    min-height: 100%;
    margin: 0;
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVQYlWNgYGBg8NNq+c+AB8Dl/bRa/uNSjCIHY8AEkTGGiURbjS6ITQzDRJx8dN3onkPRiM/XWAWx+ZokAACxsENXP0OMDwAAAABJRU5ErkJggg==) repeat;
    background-color: rgb(118, 093, 160);
}

.disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

select:focus,
button:focus,
input:focus {
    outline: none;
}

/* Header */

#logo {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
}

#logo-content {
    width: 100%;
    color: white;
    text-decoration: none;
    text-align: center;
}

/* Main body */
#whole-create-wrapper {
    display: flex;
    height: 88%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#whole-create-border {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 2px solid black;
    border-radius: 8px;
    padding: 4%;
    background-color: white;
}

#create-text {
    font-size: 1.8em;
    margin-bottom: 10%;
    font-weight: bold;
}

#email-label {
    margin-bottom: 5%;
}

#email {
    font-size: 1.2em;
    margin-bottom: 10%;
}

#name-label{
    margin-bottom: 5%;
}

#name {
    font-size: 1.2em;
    margin-bottom: 10%;
}

#password-label {
    margin-bottom: 5%;
}

#password {
    font-size: 1.2em;
    margin-bottom: 10%;
}

#submit {
    line-height: 2em;
    margin-bottom: 5%;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(78, 42, 132);
    color: white;
}

#login {
    border-radius: 5px;
    line-height: 2em;
    cursor: pointer;
}