#header-bar {
    
}

#page-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#filter-sidebar {
    overflow-y: auto;
    width: 25%;
}

#filter-button {
    
}

#user-list {
    overflow-y: auto;
}

.user-tile {
    
}