#header-bar {
    height: 10%;
    border: black 1px;
}

#page-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#filter-sidebar {
    overflow-y: auto;
    width: 25%;
    height: 100%;
    border: black 1px;
}

#filter-button {
    
}