html {
    height: 100%;
}

body {
    font-family: sans-serif;
    overflow-y: hidden;
    min-height: 100%;
    margin: 0;
}

.disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

select:focus,
button:focus,
input:focus {
    outline: none;
}

/* Whole-page CSS */
#page-body {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

/* Header Bar */
#header-bar {
    height: 12%;
    border: solid black 1px;
    display: flex;
    align-items: center;
    background-color: rgb(78, 42, 132);
}

#logo {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
}

#logo-content {
    width: 100%;
    color: white;
    text-decoration: none;
    text-align: center;
}

#search-bar-container {
    width: 60%;
    height: 100%;
    display: flex;
}

#search-border {
    border: 1px solid black;
    background-color: white;
    border-radius: 8px;
    width: 80%;
    height: 40%;
    top: 30%;
    position: relative;
    display: flex;
    margin-left: 12%;
}

#search-button {
    width: 4%;
    height: 90%;
    position: relative;
    margin-left: 5%;
    margin-top: 0.3%;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 100%;
    transition: background-color 0.3s;
}

#search-button:hover {
    background-color: lightgray;
}

#search-bar {
    width: 90%;
    height: 70%;
    position: relative;
    border: none;
    background-color: transparent;
    top: 15%;
    padding-left: 2%;
    font-size: medium
}

#header-dropdown {
    width: 20%;
    text-align: center;
    position: relative;
    display: inline-block;
}

#header-dropdown-text {
    color: white;
    cursor: pointer;
}

#header-dropdown-content {
    display: none;
    position: absolute;
    cursor: pointer;
    background-color: #f1f1f1;
    right: 36%;
    left: 36%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#header-dropdown-content a {
    color: black;
    text-decoration: none;
    padding: 10%;
    display: block
}

#header-dropdown-content a:hover {background-color: #ddd}

#login-button {
    text-align: center;
}

#login-button-text {
    cursor: pointer;
    color: white;
    text-decoration-line: underline;
}

/* Filter Sidebar */
#filter-sidebar {
    display: block;
    width: 20%;
    height: 100%;
    border: solid black 1px;
}

#filter-all-fields {
    display: block;
    height: 80%;
    padding: 3%;
    overflow-y: auto;
    font-size: 14px;
}

#filter-year {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1%;
}

#filter-year-label {
    padding: 3%;
}

#filter-year-select{
    width: 60%;
}

.filter-container {
    display: flex;
    padding: 1%;
    flex-direction: row;
    margin-left: 10%;
}

button:focus {
    outline: 0;
}

.filter-collapsible {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: white;
    border: none;
    padding: 3%;
}

.field-collapsible-content {
    overflow: hidden;
    transition: height 600ms ease-out;
}

.filter-collapsed {
    /*display: none;*/
    width: 0%;
    height: 0%;
}


.filter-collapsible:after {
    content: "\25BC"; /* Unicode character for down triange */
    font-size: 13px;
    color: black;
    float: right;
    margin-left: 5px;
}

.filter-collapsed-label:after{
    content: "\25BA"; /* Unicode character for right triangle */
    font-size: 13px;
    color: black;
    float: right;
    margin-left: 5px;
}

.time-label-right input {
    width: 60%;
    max-width: 100px;
}

.time-label-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 20%;
}

#filter-button {
    display: flex;
    margin: 3%;
    padding: 3%;
    justify-content: center;
}

#filter-actual-button {
    width: 50%;
    height: 10%;
}


/* User List */
#user-list {
    height: 88%;
    width: 100%;
    margin: 0;
    overflow-y: auto;
    background-color: rgb(204, 196, 223);
    border: 1px solid black;
}

#user-tiles {
    height: 100%;
    padding: 1%;
}

.user-tile {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 20%;
    margin-bottom: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 5px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
    background-color: white;
    border: solid black 1px;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

.user-tile:hover {
    box-shadow: 5px 5px rgba(0,0,0, 0.4);
}

.profile-picture {
    height: 95%;
    margin: 2%;
    border-radius: 2.5%;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1%;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.user-header {
    font-size: 175%;
}

.user-blurb {
    margin-top: 1%;
}

#page-controls {

}
