#user-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    border: solid black 1px;
}

.user-tile {
    border-radius: 5%;
    width: 90%;
    height: 25%;
    margin: 1%;
    border: solid black 1px;
}